
/* ======================================== Main footer container ======================================== */

.footer-container{
    background-color: var(--primary-color);
    color: var(--default-font-color);
}

.main-footer{
    width: 90%;
    display: flex;
    margin: var(--footer-mg);
}


/*======================================== Logo and Paragraph Container ======================================== */
.logo-para-container img{
    width: 55px; /* Fixed size for the logo */
    height: auto;
    border-radius: 100%;
}


.logo-para-container,.email-form,.footer-link{
    width: 100%;
    height: 24vh;
    margin: var(--footer-mg);
    padding: var(--footer-spacer);
}

.logo-para-container p{
    font-size: var(--normal-font-size);
}

/*======================================== Quick Email input Container ======================================== */
label {
    font-size: var(--medium-font-size);
    font-weight: var(--font-mid-bold);
}

input{ 
    padding: var(--footer-inp);
    border-radius: 4px;
    width: 90%;
    color: var(--secondary-color);
    background-color: var(--default-font-color);
    border-style: var(--secondary-color);
    margin: var(--spacer-pd);
    font-weight: var(--font-mid-bold);
}

::placeholder {
    color: var(--secondary-color);
    opacity: 0.6;
}



/*======================================== Quick Links Footer Container======================================== */
.footer-btn {
    padding: var(--btn-pd);
    font-weight: var(--font-mid-bold);
    display: block;
    margin: 3% auto;
    font-size: var(--normal-font-size);
    font-family: sans-serif;
    background-color: var(--secondary-color);
    color: var(--default-font-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.footer-btn:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1);
}

.footer-link{
    padding: var(--left-pd);
}

.footer-link h6{
    font-size: var(--medium-font-size);
    font-weight: var(--font-mid-bold);
    padding: var(--spacer-pd);
}

.footer-link a{
    line-height: 1.9;
    display: block;
    text-decoration: none;
    color: var(--default-font-color);
    transition: 0.7s;
}

.footer-link a:hover{
    color: var(--secondary-color);
}


/*======================================== Copy Rights Container ======================================== */
.copyright{
    text-align: center;
    height: 4vh;
    background-color: var(--primary-color);
    color: var(--default-font-color);
}
