<footer class="footer-container">
    <!-- Main footer Contaienr -->
    <div class="main-footer">
        <!-- Logo and Paragraph Container -->
        <div class="logo-para-container">
            <a routerLink="/"><img src="assets/logo/logo.jpg" alt="PWD Welfare Society Inc. Logo"></a>
            <p>{{ footer_para }}</p>
            <a routerLink='/login'><p>Admin Login</p></a>
        </div>
        <!-- Quick Email input Container -->
        <div class="email-form">
            <form (submit)="addEmail($event)">
                <label for="subscriberEmail">Get Monthly Updates:</label>
                <input type="email" id="subscriberEmail" placeholder="Your Email">
                <button class="footer-btn" type="submit">Sign up!</button>
            </form>
        </div>
        <!-- Quick Links Footer Container -->
        <div class="footer-link">
            <h6>Quick Links</h6>
            <a href="">HOME</a>
            <a href="">ABOUT</a>
            <a href="">EVENTS</a>
            <a href="">CONTACT</a>
            <a href="">LOGIN</a>
        </div>
    </div>
</footer>
<!-- Copy Rights Container -->
<div class="copyright">
    <p>&copy; {{ footer_rights }}</p>
</div>
